{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container jumbotron" style="padding:5px; margin-top:5px; text-align: center; ">

<div class="row" style="width: 100%; margin: auto;">

	<div class="col-sm">

<h1>Welcome to Mines Paris Parking <!-- <img src="https://www.armines.net/sites/default/files/logo_mines_1000x1000.png" style="width:150px; height: 150px;" >-->
</h1>

<h3> The door is: <span id="door"></span> </h3>
<button id="door_toggle" class="btn btn-primary" onclick="toggle()"> </button>

<br>
<br>
<div  style="text-align: center;margin-top:0px; ">


	<table style="text-align: center;border-spacing: 30px; width: 100%;">
		<tr>
			<td class="vacant" id="slot1">Available
			</td>
			<td class="vacant" id="slot2"> Available</td>
			<td class="vacant" id="slot3">Available
			</td>
			<td class="vacant" id="slot4">Available
			</td>
			<td class="vacant" id="slot5">Available</td>


		</tr>

	</table>


</div>
</div>
</div>

<br><br>
<div class="row"  style="width: 100%; margin: auto;">
	<div  style="text-align: center; width: 30%;margin-left: 16px; ">
		<br><br>
		<table style="text-align: center;border-spacing: 30px; ">
			<tr>
				<td class="vacant" id="slot6">available
				</td>



			</tr>

		</table>


<script>
	colors = [null, "rgb(0, 255, 170)", "rgb(0, 255, 170)","rgb( 0,255, 170)","rgb(0, 255, 170)","rgb(0, 255, 170)","transparent"];
		var c = 0

			var intervalId = setInterval(function() {


			    const slots = $(".vacant")

				for (var i = 0; i<slots.length; i++) {

                    if($(".vacant")[i].id == 'slot6')
                        continue;

				    if (c)
				    $("#"+$(".vacant")[i].id).css("background-color", "transparent");
				    else
				     $("#"+$(".vacant")[i].id).css("background-color", colors[$(".vacant")[i].id[4]]);

				}
				 c++;
                c%=2;
			}, 1000);

	</script>
	</div>
	<div  style="width: 60%;">

	    <h3 id="state"> </h3>

	    <button class='btn btn-danger' onclick="clear_queue()">Clear Queue</button>


	</div>

</div>



</div>
<br><br><br><br><br>
<style>
th, td {
	border: 1px solid black;
}

td {
	height:270px;
	width: 200px;

}

table {
	border: 0px;
	border-spacing: 5px;
}
</style>




</div>
 <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

 <script type="text/javascript">
 	slots = [null , $("#slot1"), $("#slot2"), $("#slot3"), $("#slot4"), $("#slot5"), $("#slot6"), ];
var anomalous_positions = [];
    function toggle() {
        $.ajax({
        url: "{% url 'administration' %}",
        type: 'POST',
        data: {'check': true},

        });
    }

    function clear_queue() {
        $.ajax({
        url: "{% url 'clear_queue' %}",
        type: 'POST',
        data: {'check': true},

        });

    }
 	setInterval(function () {

    $.ajax({
        url: "{% url 'administration' %}",
        type: 'GET',
        data: {'check': true},

        success: function (json) {
            var p = 0;
            if (json.result) {

                    var new_anomalous_positions = json.anomalous_positions;

                    for (var i = 0; i<anomalous_positions.length; i++)
                     {
                         if (new_anomalous_positions.includes(anomalous_positions))
                            continue;

                        $("#slot"+anomalous_positions[i]).css('background',"transparent");

                     }

                     for (var i = 0; i<new_anomalous_positions.length; i++)
                        $("#slot"+new_anomalous_positions[i]).css('background',"rgb(200,0,80");

                    anomalous_positions = new_anomalous_positions;

                    $("#door").html(json.door);

                    if (json.door == "open")
                        $("#door_toggle").html("Click to close the door");
                    else
                        $("#door_toggle").html("Click to open the door");

				if (json.occupations) {


					var i = 1;
					var j = 0;

					while (i<=6)
						{
							if (json.occupations.includes(i) && slots[i].attr('class')=="full")
							 {
								 i++;
								 j++;
								 continue;
							 }

							 if (!json.occupations.includes(i) && slots[i].attr('class')=="vacant")
							 {
								 i++;
								 continue;
							 }

							slots[i].removeClass();
							slots[i].html("")
							slots[i].css("background","transparent");

							if (json.occupations.includes(i))
								{


									slots[i].addClass("full");
									var slot_data = "<br>" + json.cars[j] + "<hr><img src='/static/car.png' style='width:150px; height: 200px'><hr>";
									var driver = json.drivers[j];

									j++;
									slot_data+="name: " + driver.name + "<br>email: "+driver.email+"<br>phone: "+driver.telephone+"<br>";

									slots[i].html(slot_data);

								}

							else {

								slots[i].addClass("vacant");
								slots[i].html('Available');
								slots[i].css("background",colors[i]);


							}

							i++;
						}

					if(json.occupations.includes(6))
					    $("#slot6").css("background",'rgb(200,0,86)')
					else
					    $("#slot6").css("background",'transparent')
				}


                if (json.result == "empty")
                {
                	$("#state").show();
                	$("#state").html("The entrance is available! Please wait for the system to scan your car.");
                	$("#sendmail").hide();
                	$("#verification").hide();
                	$("#verified_registry").hide();
						$("#ouverture").hide();


                }
                else {
$("#state").show();

                	$("#state").html("Car with #" + json.registry + " is waiting at the door ");

                	if (json.status == "pending")
                	{
                		$("#sendmail").show();
                		$("#verification").hide();
                		$("#verified_registry").hide();
						$("#ouverture").hide();

                	}

                	else if (json.status == "in progress") {
                		$("#sendmail").hide();
                		$("#verification").show();
                		$("#verified_registry").hide();
						$("#ouverture").hide();

                	}

                	else if (json.status == "verified") {

						$("#verified_registry").html("Car Registry: " + json.registry);
						$("#verified_registry").show();
						$("#ouverture").show();
						$("#sendmail").hide();
                		$("#verification").hide();
                		$("#state").hide();

                	}
                }

            }
        }
    });
}, 1000);


 </script>

{% endblock %}
